[core]
    editor = nvim

[alias]
    st = status
    di = diff
    dis = diff --staged
    co = checkout
    sw = switch
    cm = commit

[format]
    pretty = fuller

[log]
    date = iso-local

[user]
    useConfigOnly = true

[branch]
    sort = -authordate

[include]
    path = ~/.gitconfig.local

[pull]
    ff = only

